
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>diary Album {{login}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{static_url("bootstrap/css/bootstrap.css")}}" rel="stylesheet">

  <!-- Documentation extras -->
  <link href="{{static_url("assets/docs.min.css")}}" rel="stylesheet">

  <link href="{{ static_url("css/album.css") }}" rel="stylesheet">

  <!-- Google Web fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600' rel='stylesheet' type='text/css'>



  {% block css %}

  {% end %}
  </head>

  <body>

    <div class="navbar-collapse collapse inverse" id="navbar-header">
      <div class="container-fluid">
        <div class="about">
          <h4>Über diary</h4>
          <p class="text-muted">diary ist dein persönliches und garantiert sicheres online Tagebuch. Du kannst einzelne Einträge für Freunde
          freigeben oder auf Facebook oder Twitter teilen. Ansonsten sind alle Inhalte in deinem diary aber automatisch sicher und verschlüsselt und können nur von dir selbst abgerufen werden.</p>
        </div>
        <div class="social">
          <h4>Kontakt</h4>
          <ul class="list-unstyled">
            <li><a href="#">Follow @diary on Twitter</a></li>
            <li><a href="#">Like @diary on Facebook</a></li>
            <li><a href="#">Email @diary</a></li>
          </ul>
        </div>
        <div>
          <h4>Logout</h4>
          <p><a href="/logout">logout</a></p>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
          &#9776;
        </button>
        <a href="/diary/cards" class="navbar-brand">{{login}}'s diary</a>
      </div>
    </div>
    {% block jumbotron %}

    {% end %}
    <div class="row">
      <div class="col-sm-1">
      &nbsp;
      </div>

      <div class="col-sm-10">
      {% block content %}

      {% end %}
      </div>
      <div class="col-sm-1">
      &nbsp;
      </div>
    </div>


    <footer class="text-muted">
      <div class="container">
        <p class="pull-right">
          <a href="#">Back to top</a>
        </p>
        <p>Neu bei diary? <a href="../../">Besuch die homepage</a> oder lies unseren <a href="../../getting-started/">getting started guide</a></p>
      </div>
    </footer>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="{{ static_url("bootstrap/js/bootstrap.js")}}"></script>
  
    <script src="{{ static_url("assets/holder.min.js")}}"></script>
  
    <script src="{{ static_url("assets/anchor.js")}}"></script>
  
    <script src="{{ static_url("assets/tether.min.js")}}"></script>
  
    <script src="{{ static_url("assets/application.js") }}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ static_url("js/ie10-viewport-bug-workaround.js") }}"></script>
    <script src="{{ static_url("js/ie-emulation-modes-warning.js") }}"></script>

    <script>

    Holder.addTheme('gray', {
      background: '#777',
      foreground: 'rgba(255,255,255,.75)',
      font: 'Helvetica',
      fontweight: 'normal'
    })
    </script>

    {% block script %}

    {% end %}

   
  </body>
</html>
