{% extends "base_logged_in.tmpl" %}

{% block jumbotron %}
    <section class="jumbotron text-center">
      <div class="container">
        <!--h1 class="jumbotron-heading"> {{login}}'s diary</h1-->
        <p class="lead text-muted">Deine Erlebnisse, Eindrücke, Momente in Worten und Bildern. Einfach zu erstellen und nur für dich!<br>
         Sogar wir können nicht darauf zugreifen. Wenn du willst kannst du sie aber ganz einfach teilen.
         </p>
         <p>
         <a href="/posts/new" class="btn btn-primary">Neuer Eintrag</a>
         </p>
        <!--p>
          <a href="#" class="btn btn-primary">Main call to action</a>
          <a href="#" class="btn btn-secondary">Secondary action</a>
        </p-->
      </div>
    </section>
{% end %}

{% block content %}
    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card-group">
            

            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
              </div>
              <img data-src="holder.js/360x180/?text=Image" alt="Card image">
              <div class="card-block">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>

            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
              </div>
              <img src="{{ static_url("images/tile_thumbs/liesi_und_klaasi.jpg") }}" alt="Card image">
              <div class="card-block">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
            
            <div class="card card-inverse">
              <img class="card-img" src="{{ static_url("images/tile_thumbs/nieki.jpg") }}" alt="Card image">
              <div class="card-img-overlay">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
              <div class="card card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


      </div>
    </div>
{% end %}    