
{% import random %}
{% extends "base_logged_in.tmpl" %}

{% block content %}

  <link href="{{ static_url("css/diary_logged_in.css") }}" rel="stylesheet">
  <script src="{{ static_url("/js/masonry.pkgd.min.js")}}"></script>
  <script>
    $('.grid').masonry({
      // options
      itemSelector: '.grid-item',
      columnWidth: 200
    });
  </script>
  <hr>

    <div class="grid">
      {% for photo in photos %}
        {% if random.choice[True, False] %}
          <div class="grid-item">...</div>
        {% else %}      
          <div class="grid-item grid-item--width2">...</div>
        {% end %}
      {% end %}
    </div>
  <hr>
    
{% end %}
