{% extends "base_logged_in.tmpl" %}

{% block css%}
 
  <link href="{{ static_url("css/diary.css") }}" rel="stylesheet">
{% end %}


{% block jumbotron %}
    <section class="jumbotron text-center">
      <div class="container">
        <!--h1 class="jumbotron-heading"> {{login}}'s diary</h1-->
        <p class="lead text-jumbotron">Deine Erlebnisse, Eindrücke, Momente in Worten und Bildern. Einfach zu erstellen und nur für dich!<br>
         Auch wir können nicht darauf zugreifen. Wenn du willst kannst du sie aber ganz einfach teilen.
         </p>
         <p>
         <a href="/posts/new" class="btn btn-primary">Neuer Eintrag</a>
         <a href="/photos/new" class="btn btn-secondary">Neues Foto</a>
         <a href="/quotes/new" class="btn btn-secondary">Neuer Text</a>
         <a href="/quotes/new_summary" class="btn btn-secondary">Fazit des Tages</a>
         </p>
        <!--p>
          <a href="#" class="btn btn-primary">Main call to action</a>
          <a href="#" class="btn btn-secondary">Secondary action</a>
        </p-->
      </div>
    </section>
{% end %}

{% block content %}
    

      <div class="card-columns">
  <div class="card">
    <img class="card-img-top" data-src="holder.js/100%x160/" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title that wraps to a new line</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card card-block">
    <blockquote class="card-blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" data-src="holder.js/100%x160/" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card card-block card-inverse card-primary text-center">
    <blockquote class="card-blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer>
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card card-block text-center">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <div class="card">
    <img class="card-img" data-src="holder.js/100%x260/" alt="Card image">
  </div>
  <div class="card card-block text-right">
    <blockquote class="card-blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

    
{% end %}    