
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>diary Album {{login}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{static_url("bootstrap/css/bootstrap.css")}}" rel="stylesheet">

  <!-- Documentation extras -->
  <link href="{{static_url("assets/docs.min.css")}}" rel="stylesheet">

    <link href="{{ static_url("css/album.css") }}" rel="stylesheet">

  <!-- Google Web fonts -->
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600' rel='stylesheet' type='text/css'>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ static_url("js/ie10-viewport-bug-workaround.js") }}"></script>
  <script src="{{ static_url("js/ie-emulation-modes-warning.js") }}"></script>

    
  </head>

  <body>

    <div class="navbar-collapse collapse inverse" id="navbar-header">
      <div class="container-fluid">
        <div class="about">
          <h4>About</h4>
          <p class="text-muted">diary ist dein persönliches und sicheres persönliches online Tagebuch. Du kannst einzelne Einträge für Freunde
          freigeben oder auf Facebook oder Twitter teilen. Im Stadard sind alle Inhalte in deinem diary aber sicher und verschlüsselt und können nur von dir selbts abgerufen werden.</p>
        </div>
        <div class="social">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#">Follow @diary on Twitter</a></li>
            <li><a href="#">Like @diary on Facebook</a></li>
            <li><a href="#">Email @diary</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
          &#9776;
        </button>
        <a href="#" class="navbar-brand">Album</a>
      </div>
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading"> {{login}}'s diary</h1>
        <p class="lead text-muted">Deine Erlebnisse, Eindrücke, Momente in Worten und Bildern. Einfach zu erstellen und nur für dich!<br>
         Sogar wir können nicht darauf zugreifen. Wenn du willst kannst du sie aber ganz einfach teilen.
         </p>
        <!--p>
          <a href="#" class="btn btn-primary">Main call to action</a>
          <a href="#" class="btn btn-secondary">Secondary action</a>
        </p-->
      </div>
    </section>


    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card-group">
            

            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
              </div>
              <img data-src="holder.js/360x180/?text=Image" alt="Card image">
              <div class="card-block">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>

            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
              </div>
              <img src="{{ static_url("images/300_300/liesi_und_klaasi_300_300.jpg") }}" alt="Card image">
              <div class="card-block">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
            
            <div class="card card-inverse">
              <img class="card-img" src="{{ static_url("images/300_300/nieki_300_300.jpg") }}" alt="Card image">
              <div class="card-img-overlay">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
              <div class="card card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="pull-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="{{ static_url("bootstrap/js/bootstrap.js")}}"></script>
  
    <script src="{{ static_url("assets/holder.min.js")}}"></script>
  
    <script src="{{ static_url("assets/jekyll-search.js")}}"></script>
  
    <script src="{{ static_url("assets/ZeroClipboard.min.js")}}"></script>
  
    <script src="{{ static_url("assets/anchor.js")}}"></script>
  
    <script src="{{ static_url("assets/tether.min.js")}}"></script>
  
    <script src="{{ static_url("assets/application.js") }}"></script>
  


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ static_url("js/ie10-viewport-bug-workaround.js")}}"></script>

<script>

Holder.addTheme('gray', {
  background: '#777',
  foreground: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>
   
  </body>
</html>
