{% extends "base.html" %}


{% block content %}
<div class="starter-template">
    <h2 class="cover-heading">Error:</h2>
    <div class="alert alert-danger" role="alert">
	    {{msg}}
  	</div>

    <p class="lead">
        <a href="/users" class="btn btn-lg btn-warning">Back to MAVS Admin</a>
    </p>  
</div>
{% end %}