{% extends "base.html" %}

{% block jumbotron %}
  
     <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Auf wiedersehen!</h2>
        <p>Klicken sie bitte hier wenn sie sich erneut anmelden wollen: <a href="/login">login</a>
       </p>
      </div>
    </div>

  </div> <!-- /container -->
{% end %}







