{% extends "base.html" %}


{% block content %}
<div class="inner cover">       

    <h1 class="cover-heading">docco - simply work together, word ;).</h1>
    <p class="lead">
        <h3>docco is a small and simple tool which enables you to work on you word annd office documents
        collaboratively.</h3>
        <b>Features</b>
        
            <p>work on the same .docx file in parallel</p>
            <p>versioning on content (like git)</p>
            <p>automatically merge edits of different authors</p>
            <p>manage files and users (directly or by using AD)</p>
        
    </p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-warning">Learn more</a>
    </p>  
</div>
{% end %}